.THIS {
}

.THIS .div1Column {
   margin-top: 14px;
   margin-bottom: 15px;
}

.THIS.divMain {
    margin: auto;
  	width: 1000px;
}

/* 1st cmp */

.THIS .layoutSearchMainColumn {
    margin-bottom: 14px;
    width: 630px;
    float: right;
}

.THIS .layoutBigCardsColumn {
    width: 630px;
    float: right;
}

.THIS .vacancyName input {
    width: 200px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    color: #808080;
}

.THIS ::placeholder {
    color: #D3D3D3;
}

.THIS .publishedDate input {    
    width: 200px;
    height: 40px;
    border-radius: 0px;
    color: #808080;
}

.THIS .slds-form-element__help {
    font-size: .75rem;
    display: block;
    position: absolute;
    bottom: 40px;
}

.THIS .salaryRange select  {
    width: 130px;
    height: 40px;
    border-radius: 0px;
    color: #808080;
}

.THIS .buttonSearch {
    width: 100px;
    background-color: #FFBB33;
	border-radius: 0px 5px 5px 0px;
	color: white;
	font-size: 14px;
    font-weight: bold;
    height: 40px;
}

.THIS .divResults {
    margin-top: 8px;
    width: 630px;
    height: 83px;
    border-style: solid;
    border-width: 1px;
    border-color: #DBDBDB;
    border-radius: 5px;
    background-color: white;
}

.THIS .spanButtonToResults {
    float: right;
}

.THIS .showDivDetails {
    margin-top: -3px;
    width: 630px;
    height: 170px;
    border-style: solid;
    border-width: 1px;
    border-color: #DBDBDB;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    font-size: 14px;
    padding-top: 11%;
    background-color: #66C2FF;
    animation: divDetailsShow 0.4s;
}

@keyframes divDetailsShow {
    from {height: 0px; padding-top: 0%; font-size: 0px; color: #66C2FF;}
  	to {height: 170px; padding-top: 11%; font-size: 14px; color: #000;}
}

.THIS .buttonSelect {
    margin: 35px 30px 0px 0px; /* top right bottom left */
    opacity: 0;
    border: none;
    border-radius: 7px;
    padding: -1px 18px;
    font-size: 16px;
    float: right;
    animation: buttonSelectShow 0.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes buttonSelectShow {
  	from {background-color: #66C2FF; color: #66C2FF; opacity: 0;}
  	to {background-color: #FFBB33; color: white; opacity: 1;}
}

.THIS .changeSelectButton {
    margin: 35px 30px 0px 0px;
    opacity: 0;
    border: none;
    border-radius: 7px;
    color: white;
    padding: -1px 18px;
    font-size: 16px;
    float: right;
    animation: changedSelectButton 0.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes changedSelectButton {
  	from {background-color: #66C2FF; color: #66C2FF; opacity: 0;}
  	to {background-color: #D3D3D3; color: white; opacity: 1;}
}

/* 2nd cmp */

.THIS .div2Column {
    margin-top: 21px;
}

.THIS .layoutCardsColumn {
    margin-top: 14px;
    width: 220px;
    float: left;
}

.THIS .selectedJobsTop {
    font-size: 12px;
}

.THIS .circleNumbers {
    justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: #FFBB33;
	display: inline;
	padding: 7px;
	font-size: 11px;
	font-weight: bold;
	color: white;
}

.THIS .buttonApply {
    margin-left: 15px;
    padding: -10px;
    background-color: #FFBB33;
	border-radius: 8px;
	color: white;
	font-size: 16px;
}

.THIS .layoutLittleCards {
    margin-top: 8px;
    padding: 8px;
    width: 219px;
    height: 73px;
    border-style: solid;
    border-width: 1px;
    border-color: #DBDBDB;
    border-radius: 5px;
    background-color: white;
}

.THIS .spanButtonClose {
    float: right;
}

.THIS .namePopup {
    color: #8C8C8C;
}

.THIS .agePopup {
    color: #8C8C8C;
}

.THIS .statusPopup {
    color: #8C8C8C;
}

.THIS .emailPopup {
    color: #8C8C8C;
}

.THIS .phonePopup {
    color: #8C8C8C;
}

.THIS .salaryRangePopup select {
    width: 100%;
    height: 33px;
    border-radius: 4px;
    color: #8C8C8C;
}

.THIS .slds-textarea {
    height: 78px !important;
    color: #8C8C8C;
}